/* src/components/RecipeDetail.scss */
.content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 2rem 3rem 2rem 10rem;
  overflow: hidden;
  width: fit-content;
}
.inn-con{
  overflow: hidden;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: fit-content;
}
.col-one{
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  text-align: start;
  width: 60%;
}
.recipe-detail {
    color: #fff;
    min-height: 100vh;
    padding: 20px;
  }
  
  .header {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    text-align: flex-start;
    margin-bottom: 0.5rem;
     p{
      font-size: 18px;
      font-family: "inter";
      font-weight: 300;
      width: 80%;
    }
  }
  
  .title {
    color: #000;
    margin-bottom: 1rem;
    font-family: "Frank Ruhl Libre";
    font-size: 33px;
    font-weight: 800;
  }
  .image{
    width: 100%;
    height: 100%;
    border-radius: 1px;
    overflow: hidden;
  }

  .col-two{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 0rem;
    width: 50%;
    margin-left: 5rem;
    overflow: hidden;
  }
  .main-reci{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
  // .social-icon{
  //   display: flex;
  //   flex-direction: column;
  //   justify-content: center;
  //   align-items: flex-start;
  //   margin-left: 5rem;
  //   padding: 0.5rem 5rem;
  //   background-color: #acff309f;
  //   color: #A1FFB6;
  //   border-radius: 5px;
  //   // width: 100%;
  // }
  .twi{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
         .fi{
          font-size: 20px;
         }
     p{
      margin-left: 1rem;
      font-size: 18px;
      font-family: "inter";
      font-weight: 300;
     }
  }
  .recipe-info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
  }
  
  .details {
    background-color: #f5c28c;
    padding: 1rem 2rem;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // width: 80%;
    color: #000;
    span{
      font-weight: 500;
    }
  }
  
  .details p {
    margin-bottom: 0.5rem;
    font-size: 18px;
    font-family: "inter";
    font-weight: 300;
  }
  .main-ing{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
  }
  .measure{
    list-style-type: disc;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-top: 3rem;
    padding: 2rem 4rem;
    border-radius: 8px;
    margin-bottom: 20px;
    margin-left: 2rem;
      h3{
      font-size: 23px;
      margin-bottom: 1.5rem;
      font-family: "inter";
      font-weight: 500;
    }
    li{
      font-size: 17px;
      font-family: "inter";
      font-weight: 300;
      line-height: 3rem;
    }
  }
  
  .ingredients{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #000;
    margin-top: 3rem;
    padding: 1rem;
    border-radius: 8px;
    margin-bottom: 20px;
    h3{
      font-size: 23px;
      margin-bottom: 1.5rem;
      font-family: "inter";
      font-weight: 500;
    }
    li{
      font-size: 17px;
      font-family: "inter";
      font-weight: 300;
      line-height: 3rem;
    }
  }
  .jump-to{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 2rem;
    margin-bottom: 0rem;
    h3{
      font-size: 28px;
      margin-bottom: 1rem;
      font-family: "inter";
      font-weight: 500;
    }
    p{
      font-size: 20px;
      font-family: "inter";
      font-weight: 300;
      line-height: 30px;
      width: 95%;
    }
  }
  .instructions{
    display: flex;
   flex-direction: column;
   justify-content: flex-start;
   align-items: flex-start;
   margin-top: 0rem;
   h3 {
    color: #1f1d1d;
    font-size: 28px;
    font-family: "inter";
    font-weight: 500;
    margin-bottom: 1rem;
  }
    p{
     font-size: 20px;
     font-family: "inter";
     line-height: 35px;
     font-weight: 300;
     width: 95%;
    }
  }
  .tips{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border: 1px solid #000;
    border-radius: 8px;
    padding: 1rem 2rem;
    h3{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 25px;
      font-family: "inter";
      font-weight: 600;
      margin-top: 0.5rem;
    }
      li{
       list-style-type: disc;
      font-size: 16px;
      font-family: "inter";
      font-weight: 300;
      line-height: 2rem;
      margin-bottom: 1rem;
      width: 100%;
    }
  }
  
  .footer {
    background-color: #333;
    color: #fff;
    padding: 40px 20px;
  }
  
  .footer-content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .footer h4 {
    color: #7dbd1a;
    margin-bottom: 10px;
  }
  
  .footer ul {
    list-style: none;
    padding: 0;
  }
  
  .footer li {
    margin-bottom: 5px;
  }
  
  .footer a {
    color: #fff;
    text-decoration: none;
  }
  
  .footer a:hover {
    text-decoration: underline;
  }
  
  .footer-bottom {
    text-align: center;
  }
  