@use '../../styles/index' as *;


.pd_recipe_listing{
  padding-top: 120px;
    h2{
        text-align: center;
        font-size: 38px;margin: 3rem 0;

    }
    .filter_wrapper{
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: center;
      border: 1px solid var(--primary);
      border-right: none;
      border-left: none;
      justify-content: space-between;
      padding: 1rem 0;
      .filters{
        
        select{
          border: none;
          outline: none;
          margin: 0 1rem;
        }
      }
    
    }
    .search_wrapper{
      width: 100%;
      display: flex;
      justify-content: center;
      margin: 2rem 0;
      input{
        width: 200px;
        padding: 0.5rem 1rem;
        border: 1px solid var(--grey01);
        border-radius: 4px;
        &:focus{
          border-color: var(--primary);
        }
      }
      button{
        border: none;
        outline: none;
        padding: 10px 2rem;
        background-color: var(--orange);
        border-radius: 4px;
        cursor: progress;
        &:hover{
          background-color: orange;
        }
      }
    }
    .loader{
      text-align: center;
      margin: 1rem 0;
      font-size: 34px;
    }
    .recipe_wrapper{
        width: 80%;
        margin: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: center;
    }
    .card {
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.1);
        overflow: hidden;
        transition: transform 0.2s ease-in-out;
        width: 300px;
        margin: 20px;
        padding-top: 30px;
        cursor: pointer;
      }
      
      .card:hover {
        transform: scale(1.05);
      }
      
      .upper {
        height: 200px;
        overflow: hidden;
      }
      
      .upper img {
        width: 70%;
        height: 100%;
        object-fit: cover;
        display: block;
        margin: auto;
        border-radius: 50%;
      }
      
      .lower {
        padding: 15px;
        background-color: #fff;
      }
      
      .lower .name {
        font-size: 1em;
        font-weight: bold;
        margin: 0 0 10px;
        text-align: center;
        text-decoration: underline;
      }
      
    
      
}