@use "../../../styles/index" as *;

.pd_about{
    padding-top: 4rem;
    flex-wrap: wrap;
    @include mq(768px){
        padding-top: 2rem;
    }
    h4{
        font-size: 28px;
        font-family: serif;
        margin: 0;
        padding: 0;
        .first{
            text-decoration: underline;
            font-family: "Holtwood One Sc";
        }
        .second{
            color: var(--primary);
            text-decoration: underline;
            font-family: "Holtwood One Sc";
        }
        &.feat_header{
            font-size: 28px;
            color: #594747;
        }
    }
    .title{
        text-align: center;
        font-family: serif;
        font-size: 50px;
        padding: 10px 0 ;
    }
    .sub-title{
        text-align: center;
        font-size: 24px;
    }
    .general_btn{
        &.abt_btn{
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background-color: var(--orange) !important;
        &:hover{
            background-color: #F4DE27 !important;
            // background-color: var(--white) !important;
            // border-color: var(--orange) !important;
            // color: var(--orange) !important;
            color: #fff;
        }
        }
        
    }
    .team{
        .team_wrapper{
            display: flex;
            gap: 1rem;
            @include mq(640px){
                flex-wrap: wrap;
                gap: 0;
            }
            .card{
                width: calc(100% / 3);
                height: 300px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                box-shadow: 6px 6px 5px 3px rgba(235, 229, 229, 0.75);
            -webkit-box-shadow: 6px 6px 5px 3px rgba(235, 229, 229, 0.75);
            -moz-box-shadow: 6px 6px 5px 3px rgba(235, 229, 229, 0.75);
            @include mq(640px){
                width: calc(100% / 2 );
                gap: 8px;
            }  
            @include mq(460px){
                width: calc(80% );
                gap: 0;
                margin: auto;
            }      
            .p_img{
                    width: 140px;
                    height: 140px;
                    background-color: bisque;
                    border-radius: 50%;
                    img{
                        width: 100%;
                        height: 100%;
                        border-radius: 50%;
                    }
                }
                p{
                    margin: 0; padding: 0;
                }
                .name{
                    color: #1e1e1e;
                    font-weight: 600;
                }
                .role{
                    color: #594747;
                    font-weight: 500;
                    font-style: italic;
                }
            }
        }
    }
    a{
        color: var(--primary);
        text-decoration: underline;
    }
    img{
        // max-width: 100%;
    }
}