@use '../../../styles/index';
.pd_hero{
    width: 100%;
    height: auto;
    .absolut_leaf{
        position: absolute;
    }
    a,.a{
        text-decoration: none;
        appearance: none;
        outline: none;
        color: #fff;

    }
    .hero_flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 80%;
        margin: auto;
        padding: 80px 0;
        .text_box{
            h1{
                font-size: 62px;
                line-height: 72px;
                color: var(--black01);
                font-weight: bold;
                font-family: 'Lexend Exa';
                span{
                    color: var(--red);
                }
            }
            .hero-par{
                color: #9ca5ab;
                font-size: 20px;
                line-height: 28px;
                font-family: 'Lexend Deca';
            }
            .general_btn{
                background-color: var(--btngreen);
                color: #fff;
                appearance: none;
                outline: none;
                font-size: 22px;
                border: 0;
                width: 60%;
                height: 100%;
                font-family: "inter";
                padding: 1.2rem 3rem;
                border-radius: 3px;
                margin-top: 2rem;
                cursor: pointer;
                &:hover{
                    background-color: var(--primary);
                    
                    a{
                        color: #fff;
                        
                    }
                }
            }
        }
    }
}