@use '../../../styles/index';

.pd_recipes {
    width: 80%;
    margin: 10px auto;
    h2{
        font-family: "Lexend Exa";
        font-size: 40px;
        font-weight: 700;
        line-height: 20px;
        text-align: center;
        padding: 0;
        margin: 0;
    }
    .header-o{
        font-size: 20px;
        line-height: 32px;
        color: #9ca5ab;
        text-align: center;
        font-family: "Lexend Exa";
        margin-bottom: 5rem;
        margin-top: 3rem;
    }
    .st-but{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        margin-top: 4rem;
    }
    .rec-but{
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        border: none;
        background-color: var(--btngreen);
        color: #fff;
        height: 100%;
        padding: 1rem 5rem;
        font-size: 20px;
        font-family: "inter";
        font-weight: 400;
        border-radius: 3px;
        cursor: pointer;
        a{
                        color: #fff;
                        text-decoration: none;
                    }
         &:hover{
                    background-color: var(--primary);
                    a{
                        color: #fff;
                        text-decoration: none;
                    }
                }
    }

    .img_headar {
        text-align: center;
        display: flex;
        justify-content: center;
    }

    .recipe_flex {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 3%;

        .card {
            width: 32% !important;
            height: 535px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 24px;
            border: 0.5px solid rgb(173, 173, 173);
            box-shadow: 6px 6px 5px 3px rgba(235, 229, 229, 0.75);
            -webkit-box-shadow: 6px 6px 5px 3px rgba(235, 229, 229, 0.75);
            -moz-box-shadow: 6px 6px 5px 3px rgba(235, 229, 229, 0.75);
            .upper{
                height: 50%;
            }
            .lower{
                margin-top: 2rem;
                .name{
                    font-size: 24px;
                    font-weight: 500;
                    line-height: 28px;
                    text-decoration: underline;
                    text-align: center;
                    font-family: "Lexend Exa";
                }
                .desc{
                    font-size: 15px;
                    font-weight: 400;
                    line-height: 25px;
                    color: #9ca5ab;
                    text-align: center;
                    font-family: "Lexend Exa";
                }
            }
          
            
        }
    }
}